# Dependencies for English -> Maragoli Neural Machine Translation & Live Web App

# Core Modeling & Inference
torch
transformers
sentencepiece
sacrebleu
pandas
numpy
tqdm

# Hugging Face ecosystem
huggingface_hub
datasets

# Web Application & Demo Service
fastapi
uvicorn
pydantic
requests
